
.cart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 8px 8px 0 0;
}

.cart-confirmation {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}