body {
  max-width: 900px;
  background-color: #fffbea;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container img {
  height: auto;
  width: 400px;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

dt,
dd {
  margin: 0;
  padding: 0.2rem 0;
}

dt {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

dd {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

/* ddに下線を引いてるので.extraには下線を引かないよう調整 */
dd.extra {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.quantity-box {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.quantity-box input {
  width: 48px;
  text-align: center;
  margin-right: 8px;
}

h2 {
  margin-left: 8px;
  margin-top: 3rem;
}

.review {
  margin-left: 8px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

ul.related-products {
  list-style: none;
  padding: 0;
  margin: 0 0 0 8px;
  display: flex;
  gap: 10px;
}

ul.related-products li img {
  width: 150px;
  height: auto;
}

@media (max-width: 500px) {
  .container img {
    width: 300px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .container {
    display: block;
  }

  ul.related-products li img {
    width: 100px;
  }

}