
body {
  background-color: #fffbea;
  margin: 0;
  max-width: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.explanation {
  margin-left: 8px;
}

h3 {
  font-size: 24px;
}

.price {
  font-size: 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.fruit-ul {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.fruit-li {
  display: inline;
  flex: 0 0 33.333%;
  box-sizing: border-box;
  text-align: center;
}

.fruit-li img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 500px) {
  h3 {
    font-size: 16px;
  }

  .price {
    font-size: 14px;
  }

  .fruit-li {
  display: inline;
  flex: 0 0 50%;
  box-sizing: border-box;
  text-align: center;
}

}